

.App{
  height: 100vh;
  width: 100vw;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.Card{
  height:495px;
  width: 275px;
  background-color: hsl(216,50%,16%);
  border-radius: 15px;
  box-shadow: 0 25px 50px 0 rgba(0,0,0,0.418);
  padding: 10px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NFT_container {
  display: flex;
  justify-content: center;
}

#NFT{
  width: 270px;
  height: 250px;
  border-radius: 5px;
}
.description{
  display: flex;
  justify-content: space-between;
}
.stat{
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer{
  border-top: .5px solid hsl(215,32%,27%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer img{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
}